@tailwind base;
@tailwind components;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  
}


#container {
  height: auto;
  width: 95%;
  background-color: black;
  margin: auto;
  margin-bottom: 2.5vh;
}
/* #name1{
    font-family: "Tilt Prism", sans-serif;
} */

.iconFon {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}
.iconFon1{
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: wheat;
}
#abo{
  font-family: "Merienda", cursive;
}
#abo1{
  font-family: "Tinos", serif;
  font-size: 1.2rem;
}
#des {
  font-family: "Alegreya SC", serif;
  font-size: 44px;
}
#name {
  font-family: "Caveat", cursive;
}
#firstLogo {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.example::-webkit-scrollbar {
  display: none;
}
.word {
  font-family: "Merriweather", serif;
}

#card {
  /* border: 2px solid wheat; */
  width: 25rem;
  height: 23rem;
  padding: 15px;
}

.card1 {
  width: 15rem;
  height: 15rem;
  padding: 15px;
}
.foot{
  height: 25rem;
}
#foot1{
  margin-right: 10rem;
  
}
.footright{
  width: 50%;
}



.form-popover {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  /* background-color: rgb(148, 144, 144);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  z-index: 1000;
  border-radius: 10%;
}

#contactForm {
  display: flex;
  flex-direction: column;
}

#contactForm label {
  margin-top: 10px;
  
}

#contactForm input,
#contactForm textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 0.5rem;
}

#contactForm button {
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
}



.underline-animation {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(156,163, 175);
  transition: width 0.3s ease-in-out;
}

.underline-animation:hover::after {
  width: 100%;
}
@media all and (max-width: 639px){
  #uo0{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    padding-left: 20px;
  }
  #uo1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  #uo2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 #uo{
  display: flex;
  flex-direction: column
 }
 #uo #des{
  font-size: 40px;
 }
 #uo #dev{
  font-size: 40px;
 }
 #uo img{
  width: 90%
 }
 #about #abo{
  font-size: 18px;
  font-stretch: expanded
 }
 #ski .card1{
  width: 100%
 }
 #uofoot{
  display: flex;
  flex-direction: column;
  
 }
 #foot0{
flex: 1;
 }
 #foot1{
  flex: 1
 }
 #uofoot #foot1{
  
 }
}

@tailwind utilities;
